@model IEnumerable<Infraestructure.Models.Reservacion>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="tabla">
    <div class="row">        
        <div class="col-lg-6 row">            
            <button name="boton" onclick="getByEstado('Todos')" class="filtro-estado col"><strong>Todos</strong></button>
            <button name="boton" onclick="getByEstado('En Proceso')" class="filtro-estado col"><strong>Pendientes</strong></button>
            <button name="boton" onclick="getByEstado('Aprobada')" class="filtro-estado col"><strong>Aprobados</strong></button>
            <button name="boton" onclick="getByEstado('Reprobada')" class="filtro-estado col"><strong>Rechazados</strong></button>
        </div>
    </div>    
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="resultado">
        <table class="table text-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaComun)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaComun.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nombre) @Html.DisplayFor(modelItem => item.Usuario.Apellido1)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Reservacion", new { idUsuario = item.UsuarioID, idArea = item.AreaComunID})" class="details">Editar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function getByEstado(parametro) {
            $.ajax({
                method: 'GET',
                url: '/Reservacion/GetByEstado',
                data: { 'parametro': parametro },
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }, error: function (xhr, status, error) {
                    console.log('Error' + error + ',No Error' + xhr.status);
                }
            })
        }
    </script>
}