@model Infraestructure.Models.Residencia

<div class="tabla">
    <h2>Mi Estado de Cuenta</h2>
    <br />
    <br />
    <div class="container mb-5">
        <h4 class="col">Informacion de Usuario</h4>
        <div class="detalle2">
            <div class="row">
                <strong class="col">Nombre Completo :</strong>
                <p class="col">
                    @Html.DisplayFor(model => model.Usuario.Nombre)  @Html.DisplayFor(model => model.Usuario.Apellido1)  @Html.DisplayFor(model => model.Usuario.Apellido2)
                </p>
            </div>
            <hr />
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.Usuario.Correo) :</strong><p class="col">@Html.DisplayFor(model => model.Usuario.Correo)</p>
            </div>
        </div>
        <br />
        <br />
        <h4 class="col">Informacion de Residencia</h4>
        <div class="detalle2">
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.ID) :</strong><p class="col">@Html.DisplayFor(model => model.ID)</p>
            </div>
            <hr />
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.FechaInicio) :</strong><p class="col">@Html.DisplayFor(model => model.FechaInicio)</p>
            </div>
            <hr />
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.CantPersonas) :</strong><p class="col">@Html.DisplayFor(model => model.CantPersonas)</p>
            </div>
            <hr />
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.CantidadCarros) :</strong><p class="col">@Html.DisplayFor(model => model.CantidadCarros)</p>
            </div>
            <hr />
            <div class="row">
                <strong class="col">@Html.DisplayNameFor(model => model.Estado) :</strong><p class="col">@Html.DisplayFor(model => model.Estado)</p>
            </div>
        </div>
        <br />
        <br />
        <h4 class="col">Historial Pagados</h4>
        <br />
        <div class="container">
            @if (((IEnumerable<Infraestructure.Models.EstadoCuenta>)ViewBag.pagados).Count() <= 0)
            {
                <div class="row">
                    <div class="col">
                        <div><p>No existen pagos en este historial</p></div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <strong class="col">Mes</strong>
                    <strong class="col">Estado</strong>
                    <strong class="col">Ver detalle</strong>
                </div>
                foreach (var item in (IEnumerable<Infraestructure.Models.EstadoCuenta>)ViewBag.pagados)
                {
                    <div class="row">
                        <div class="col">
                            <div>@Html.DisplayFor(modelItem => item.Mes)</div>
                        </div>
                        <div class="col">
                            <div>Pagado</div>
                        </div>
                        <div class="col"><a href="@Url.Action("Pagado", "EstadoCuenta", new { id = item.ID })" class="details">Detalle</a></div>
                        @*<div class="col">
                            <a href="@Url.Action("Edit", "EstadoCuenta", new { id = item.ID})" class="details">Editar</a>
                        </div>*@
                    </div>
                }
            }
        </div>
        <br />
        <br />
        <h4 class="col">Historial Pendientes</h4>
        <br />
        <div class="container">
            @if (((IEnumerable<Infraestructure.Models.EstadoCuenta>)ViewBag.pendientes).Count() <= 0)
            {
                <div class="row">
                    <div class="col">
                        <div><p>No existen pagos en este historial</p></div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <strong class="col">Mes</strong>
                    <strong class="col">Estado</strong>
                    <strong class="col">Ver detalle</strong>
                </div>
                foreach (var item in (IEnumerable<Infraestructure.Models.EstadoCuenta>)ViewBag.pendientes)
                {
                    <div class="row">
                        <div class="col">
                            <div>@Html.DisplayFor(modelItem => item.Mes)</div>
                        </div>
                        <div class="col">
                            <div>Pendiente</div>
                        </div>
                        <div class="col"><a href="@Url.Action("Pendiente", "EstadoCuenta", new { id = item.ID })" class="details">Detalle</a></div>
                        @*<div class="col">
                            <a href="@Url.Action("Edit", "EstadoCuenta", new { id = item.ID})" class="details">Editar</a>
                        </div>*@
                    </div>
                }
            }
        </div>
        @*<br />
        <br />
        <a href="@Url.Action("Index", "EstadoCuenta")" class="regresar">Regresar</a>*@
    </div>
</div>